html, body{
    height: 100%;
    font-size: 24px;
    width: 100%;
    min-width: 320px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.name {
    h1 {
        //padding-top: 25px;
        text-align: center;
        //margin: 0 auto;
        //align-items: center;
        //align-content: center;
        margin: 0px 0px 50px 0;
    }
}

.div__checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //box-shadow: 7px 7px 17px 0px rgba(50, 50, 50, 0.5);

    .checkbox{
        height: 35px;
        width: 35px;
        border-radius: 3px;

    }
    .div__checkbox__1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        //border: yellow 1px solid;
        //width: 80%;
        //flex:0 0 25%;
    }
    .div__checkbox__2{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        //flex:0 0 25%;
        //justify-content: center;
        //text-align: right;
        //border: green 1px solid;
        .favoriteClass{
            height: 35px;
            width: 35px;
            background-color: #8b4dd7;
        }
        .btn__remove{
            height: 35px;
            width: 35px;
            background-color: #de2929;
            color: white;
            font-size: 100%;
            //border-radius: 10px;

            text-decoration: none;
            margin: 0 5px 0 0;

        }
    }
    height: 50px;
    width: 90%;
    border-radius: 3px;
    background-color: #f8f8f8;//dodgerblue;
    margin: 10px;
    padding: 5px;

}


.checked{
    background-color: gray;
    text-decoration: line-through;
}


.style1 {
    //background: wheat;
    background: linear-gradient(to top left, powderblue, pink);
    //border: 2px solid red;

}

.style2{
    margin: 0 auto;
    margin-top: 250px;
    background: white;//deepskyblue;
    border: 0px solid ;
    width: 50%;
    min-width: 500px;
    min-height: 50%;
    border-radius: 3px;
    box-shadow: 7px 7px 17px 0px rgba(50, 50, 50, 0.5);
    padding: 50px 0 50px 0;
}

.tasks{
    margin-left: 40px;
//background-color: #d24dd7;
    //display: flex;
    //align-content: center;
}

.error{
    color: #de2929;
}

.btn__remove{
    background-color: red;
    //margin: 0 0 0 5px;
    text-decoration: none;
    &:hover{
        border: #8e8e8e 1px solid;
    }
}

.buttons{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        //display: block;
        //align-items: center;
        //justify-content: center;
        //margin: 0 auto;
        //margin: 10px;
        //margin-bottom: 20px;
        min-width: 85%;
        min-height: 50px;
        border-radius: 3px;
        padding: 0 20px;
        border: #d0d0d0 1px solid;
        //box-shadow: 7px 7px 17px 0 rgba(50, 50, 50, 0.5);
        //&:hover, &:active{
        //    box-shadow: 7px 7px 17px 0 rgba(50, 50, 50, 0.5);
        //
        //}
        &:hover{
            border: #8e8e8e 1px solid;
        }
        &:active{
            border: none;
        }
    }
    #btn__add{
        display: block;
        //align-items: center;
        //justify-content: center;
        background-color: #8b4dd7;
        height: 50px;
        width: 50px;
        border-radius: 3px;
        border: none;
        margin: 10px;
        color: white;
        //box-shadow:         7px 7px 17px 0px rgba(50, 50, 50, 0.5);
        &:hover{
            border: #393939 1px solid;
        }
    }
}

